<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="empDAO" class="com.createiq.dao.EmployeeDAOImpl">
	</bean>

	<bean id="empService"
		class="com.createiq.service.EmployeeServiceImpl">
		<property name="employeeDAO" ref="empDAO"></property>
	</bean>

	<bean id="empController"
		class="com.createiq.controller.EmployeeController">
		<constructor-arg ref="empService"></constructor-arg>
	</bean>

</beans>
